.vscode
*.pyc
__pycache__
env3.7
env3.6
env
dist
.mypy_cache
.idea
site
.coverage
htmlcov
.pytest_cache
coverage.xml

pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
manifest

# pyinstaller
#  usually these files are written by a python script from a template
#  before pyinstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# installer logs
pip-log.txt
pip-delete-this-directory.txt

# unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# translations
*.mo
*.pot

# django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# flask stuff:
instance/
.webassets-cache

# scrapy stuff:
.scrapy

# sphinx documentation
docs/_build/

# pybuilder
target/

# jupyter notebook
.ipynb_checkpoints

# ipython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   according to pypa/pipenv#598, it is recommended to include pipfile.lock in version control.
#   however, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#pipfile.lock

# pep 582; used by e.g. github.com/david-oconnor/pyflow
__pypackages__/

# celery stuff
celerybeat-schedule
celerybeat.pid

# sagemath parsed files
*.sage.py

# environments
.env
.env.production
.env.development
.venv
env/
venv/
env/
env.bak/
venv.bak/

# spyder project settings
.spyderproject
.spyproject

# rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pyre type checker
.pyre/

db_docker
minio

.sonarqube/*
.scannerwork
.ruff_cache
sonarqube
sonarqube/extensions
sonarqube/data
sonarqube/logs
.terraform


